

/* Firefox Bug Fix */
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  transition-property: opacity;
}


/* Bootstrap Padding Fix */
[class*="col-"] {
    padding: 1rem;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/* Footer */

footer {
  height: 140px;
  background-color: #FFC7C7;
  margin: 0%;
  padding-top: 1%;
}

#follow {
  background-color: #FFC7C7;
}

.fa {
  padding-top: 10px;
  font-size: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

/* Homepage */

.main-page-row {
  height: auto;
  padding: 0;
}

.main-page-img {
  max-width: 100%;
  height: auto;
  width: auto;
  max-height: 100%;
  padding: 0;
  float: right;
}

#slide-area {
  margin: 0 0;
  padding: 0%;
  border: 0;
  background-color: #FAD61F;
}

.carousel-caption {
  color: black;
  padding-bottom: 20%;
}

.about-us {
  background-color: #F3F3F3;
  height: auto;
  padding-top: 4%;
  padding-left: 12%;
  padding-right: 12%;
  padding-bottom: 2%;
}

#about-us-title, #about-us-text {
  text-align: center;
}

#about-us-text {
  line-height: 20pt;
}

/* Activity Sheets Page */

#sheets-message {
  background-color: #FAD61F;
  color: black;
  height: 380px;
  padding-top: 30px;
}

#maintenance-message {
  text-align: center;
}

#sheets-filler{
  height: 60px;
  background-color: #e3e3e3;
}

#sheets-filler-edge {
  background-color: #e3e3e3;
}

#monthly-theme {
  height: 100px;
  margin: auto;
  padding-top: 1%;
  justify-content: center;
  background-color: #F3F3F3;
  border-bottom: 2px solid grey;
}

#sheets {
  background-color: #e3e3e3;
}

.issue-display {
 
  border-bottom: 2px solid grey;
  margin: auto;
  padding-left: 2%;
  background-color: #F3F3F3;
}

.sheet-info {
  max-width: 200px;
  margin: 0%;
  margin-right: 10%;
  padding-top: 3%;
  padding-bottom: 1%;
}

#blank-sheet {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  margin: 0%; 
}

.sheet-preview {
  max-width: 300px;
  max-height: 300px;
}

#bottom-sheet {
  border-bottom: 0px;
}

.btn-colour-1 {
  color: #fff;
  background-color: #ff83da;
  border-color: #ff83da;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin-left: 9.5%;
}

.btn-colour-1:hover,
.btn-colour-1:active,
.btn-colour-1:focus,
.btn-colour-1.active {
  background: #2c2b28;
  color: #ffffff;
  border-color: #2c2b28;
}

/* Meet the Team Page */

.team-row {
  background-color: #F3F3F3;
  height: 350px;
  margin: 0;
  justify-content: center;
}

.team-member {
  padding-top: 1%;
  align-items: center;
  max-width: 450px;
}

.headshot {
  width: 170px;
}

.roles {
  width: 35px;
  height: 10px;
  margin-left: auto;
  margin-right: auto
}

.role-detail {
  width: 135px;
  height: 40px;
  margin: 0;
  text-align: center;
  padding-top: 0.4%;
  font-size: 15px;
  color: white; 
}

.left-most {
  margin-left: auto;
}

.right-most {
  margin-right: auto;
}

.content-producer {
  background-color: #ffbe0b;
  margin-right: 0;
}

.volunteer {
  background-color: #fb5607;
  margin-left: 0;
  margin-right: 0;
}

.video-editor {
  background-color: #ff006e;
  margin-left: 0;
}

.media-relations {
  background-color: #8338ec;
  margin-left: 0;
}

.tech {
  background-color: #3a86ff;
  margin-left: 0;
}

#meet-the-team-roles {
  padding-top: 2%;
  height: 205px;
  background-color: #f3f3f3;
}

.col-lg-8 {
  margin: 0 0;
  padding: 0%;
}

/* Get Involved Page */

#get-involved {
  background-color: #f3f3f3;
  text-align: center;
  margin: 0%;
}

/* Home page media query stuff */
@media only screen and (max-width: 1478px) {
  .carousel-caption {
    padding-bottom: 15%;
  }
}
@media only screen and (max-width: 1186px) {
  .carousel-caption {
    padding-bottom: 0%;
  }
}
@media only screen and (max-width: 1025px) {
  .carousel-caption {
    height: auto;
    width: auto;
    padding-top: 20%;
    padding-bottom: 10%;
  }
  .main-page-img {
    height: 0px;
    width: 0px;
  }
  .main-page-row {
    height: 400px;
  }
  #carousel-caption-col {
    min-width: 100%;
    text-align: center;
  }

}

/* Meet the Team media query stuff */
@media only screen and (max-width: 889px) {
  #dean {
    min-width: 100%;
  }
  #top-team-row {
    min-height: 700px;
  }
  #meet-the-team-roles {
    height: 150px;
    padding-top: 6%;
  }
}
@media only screen and (max-width: 619px) {
  .team-member {
    min-width: 100%;
  }
  #top-team-row {
    height: 1000px;
  }
  #bot-team-row {
    height: 650px;
  }
  #meet-the-team-roles {
    height: 200px;
  }
}

/* Activity sheets media query stuff */
@media only screen and (max-width: 1155px) {
  #sheets-message {
    padding-top: 0px;
  }
  .sheet-info{
    margin-right: 0%;
  }
}
@media only screen and (max-width: 1079px) {
  #monthly-theme {
    padding-top: 20px;
  }
  .sheet-preview {
    max-width: 250px;
    max-height: 250px;
  }
}
@media only screen and (max-width: 990px) {
  #sheets-filler {
    height: 30px;
  }
}
@media only screen and (max-width: 650px) {
  #monthly-theme {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (max-width: 645px) {
  #monthly-theme {
    padding-top: 0px;
  }
}









