

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  transition-property: opacity;
}


/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/* Homepage */

.main-page-row {
  height: auto;
  padding: 0;
}

.main-page-img {
  max-width: 100%;
  height: auto;
  width: auto;
  max-height: 100%;
  padding: 0;
  float: right;
}

#slide-area {
  margin: 0 0;
  padding: 0%;
  border: 0;
  background-color: #FAD61F;
}

.carousel-caption {
  color: black;
  padding-bottom: 20%;
}

.about-us {
  background-color: #F3F3F3;
  height: auto;
  padding-top: 4%;
  padding-left: 12%;
  padding-right: 12%;
  padding-bottom: 2%;
}

#about-us-title, #about-us-text {
  text-align: center;
}

#about-us-text {
  line-height: 20pt;
}

#contact-email {
  font-weight: 500;
}

footer {
  height: 128px;
  background-color: #FFC7C7;
  margin: 0 0;
}

.fa {
  padding-top: 10px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

/* Stuff for sheets.html */

#sheets-message {
  background-color: #FAD61F;
  color: black;
  height: 400px;
  padding-top: 2%;
}

.sheets-display {
  background-color: #FAD61F;
}

.sheets-outer {
  background-color: #E3E3E3;
}

.issue-display {
  border-bottom: 2px solid grey;
}

#display-col {
  background-color: #E3E3E3;
  padding:3%;
}

.sheet-info {
  background-color: #F3F3F3;
  margin: 0%;
}

#bottom-sheet {
  border-bottom: 0px;
}

.sheet-preview {
  max-width: 250px;
  max-height: 250px;
}

#blank-sheet {
  background-color: #f1f1f1;
  padding-top: 2%;
  padding-left: 5%;
  margin: 0%; 
}

#answer-sheet {
  background-color: #f1f1f1;
  padding-top: 2%;
  padding-left: 5%;
}

#sheets-issues-bot {
  background-color: white;
}

.btn-colour-1 {
  color: #fff;
  background-color: #ff83da;
  border-color: #ff83da;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin-left: 9.5%;
}

.btn-colour-1:hover,
.btn-colour-1:active,
.btn-colour-1:focus,
.btn-colour-1.active {
  background: #2c2b28;
  color: #ffffff;
  border-color: #2c2b28;
}

/* Meet the team page */

.team-row {
  background-color: #F3F3F3;
  height: 350px;
}

.team-member {
  padding-top: 1%;
  align-items: center;
}

.headshot {
  width: 170px;
}

.roles {
  width: 35px;
  height: 10px;
  margin-left: auto;
  margin-right: auto
}

.role-detail {
  width: 135px;
  height: 40px;
  margin: 0;
  text-align: center;
  padding-top: 0.4%;
  font-size: 15px;
  color: white; 
}

.left-most {
  margin-left: auto;
}

.right-most {
  margin-right: auto;
}

.content-producer {
  background-color: #ffbe0b;
  margin-right: 0;
}

.volunteer {
  background-color: #fb5607;
  margin-left: 0;
  margin-right: 0;
}

.video-editor {
  background-color: #ff006e;
  margin-left: 0;
}

.media-relations {
  background-color: #8338ec;
  margin-left: 0;
}

.tech {
  background-color: #3a86ff;
  margin-left: 0;
}

#meet-the-team-filler {
  padding-top: 2%;
  height: 205px;
  background-color: #f3f3f3;
}

.col-lg-8 {
  margin: 0 0;
  padding: 0%;
}

.team-outer-edge {
  width: auto;
}


/* Home page media query stuff */
@media only screen and (max-width: 1478px) {
  .carousel-caption {
    padding-bottom: 15%;
  }
}
@media only screen and (max-width: 1186px) {
  .carousel-caption {
    padding-bottom: 0%;
  }
}
@media only screen and (max-width: 1025px) {
  .carousel-caption {
    height: auto;
    width: auto;
    padding-top: 20%;
    padding-bottom: 10%;
  }
  .main-page-img {
    height: 0px;
    width: 0px;
  }
  .main-page-row {
    height: 400px;
  }
  #carousel-caption-col {
    min-width: 100%;
    text-align: center;
  }

}

/* Meet the Team media query stuff */
@media only screen and (max-width: 180px) {
  .team-outer-edge {
    max-width: 9px;
  }
}


/* Activity sheets media query stuff */
@media only screen and (max-width: 1904px) {
  .sheet-info {
    min-width: 200px;
  }
}
@media only screen and (max-width: 1799px) {
  .sheet-info {
    min-width: 190px;
  }
  .sheet-preview {
    margin-left: 12%;
    margin-bottom: 5%;
  }
  .btn-colour-1 {
    margin-left: 33%;
    margin-bottom: 5%;
  }
}
@media only screen and (max-width: 1518px) {
  .sheet-preview {
    margin-left: 4%;
    margin-bottom: 3%;
  }
  .btn-colour-1 {
    margin-left: 30%;
    margin-bottom: 3%;
  }
}
@media only screen and (max-width: 1327px) {
  .sheet-preview {
    padding-right: 10%;
    margin-bottom: 3%;
  }
  .btn-colour-1 {
    margin-left: 30%;
    margin-bottom: 3%;
  }
}
@media only screen and (max-width: 1286px) {
  .sheet-preview {
    margin-left: 0%;
    margin-bottom: 3%;
    max-width: 100%;
  }
  .btn-colour-1 {
    margin-left: 25%;
    margin-bottom: 3%;
  }
}
@media only screen and (max-width: 991px) {
  .sheet-preview {
    margin-left: 3%;
    margin-bottom: 3%;
    max-width: 100%;
  }
  .btn-colour-1 {
    margin-left: 35%;
    margin-bottom: 3%;
  }
}
@media only screen and (max-width: 500px) {
  .sheet-preview {
    margin-left: 9%;
    margin-bottom: 3%;
    min-width: 400px;
  }
  .btn-colour-1 {
    margin-left: 38%;
    margin-bottom: 3%;
  }
}







